.search-field-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #D6D5C9;
	padding-top: 20px;
	width: 100%;
}

.search-field-form {
	width: 400px;
	background-color: #B9BAA3;
	border: 1px solid #B9BAA3;
	border-radius: 4px;
}